SLACK_API_TOKEN = Slack API Token starting in 'xoxp'
SLACK_BOT_TOKEN = Slack Bot Token starting in 'xoxb'
GOOGLE_CLIENT_ID = Your Google client id
GOOGLE_CLIENT_SECRET = Your Google client secret
GOOGLE_REDIRECT_URL = The URL Google redirects to authenticate
MONGODB_URL = Your mongoDB URL
